.landingContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.banner {
  height: 100%;
  display: flex;
  background-image: url(../../assets/unlar.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.blur {
  background: linear-gradient(#e66464a1, #9198e571);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  align-items: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.image {
  width: 50vw;
  aspect-ratio: 1/1;
  margin: 20px;
  border-radius: 30px;
}
.contentText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contentText h2 {
  color: var(--secondary);
  font-weight: 500;
  font-size: 2rem;
  text-wrap: balance;
  text-align: center;
}
.contentText p {
  color: var(--secondary);
  text-wrap: balance;
  font-size: large;
  text-align: center;
}
.contentText button {
  background-color: var(--primary);
  border: none;
  padding: 20px 50px;
  border-radius: 20px;
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.contentText button:hover {
  background-color: var(--secondary);
}

.uncomingEvents {
  background-color: rgb(39, 36, 51);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (width <= 769px) {
  .blur {
    flex-direction: column;
  }
  .image {
    width: 80vw;
  }
}
