@import url(./styles/theme.css);
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  font-family: Roboto, 'Times New Roman', Times, serif;
}
body {
  background-color: #1e1e1e;
  text-decoration: none;
  list-style: none;
  padding: 0;
}

.leaflet-container {
  width: 90vw;
  height: 70vh;
}

.logo {
  width: 50px;
}
.nav-button {
  padding: 10px 30px;
  border-radius: 20px;
  text-transform: uppercase;
}

.is-active {
  pointer-events: none;
  background-color: var(--primary);
}
.is-active p {
  color: var(--white);
}
